@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
	margin: 0;
	background-color: #09090b;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: "Roboto", sans-serif;
}

a {
	color: #22d3ee;
}

#container {
	padding: 14px;
	background-color: #ef4444;
	color: white;
	font-size: 16px;
	position: absolute;
	max-width: 600px;
	box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.3);
	animation: pop 0.4s ease-in-out;
	border-radius: 12px;
}

#graphicPath {
	font-weight: bold;
	padding: 10px;
	background-color: #27272a;
	border-radius: 6px;
}

.code {
	font-family: monospace;
}

@keyframes pop {
	0% {
		margin-top: 2rem;
		opacity: 0;
	}

	100% {
		margin-top: 0;
		opacity: 1;
	}
}
